.idea/*
.npmrc
.project
.tmp
*.dat
*.DS_Store
*.gz
*.log
*.out
*.pid
*.seed
*.sublime-*
config*.json
docker-cloud.yml
/*.override.yml
lib-cov
logs
mongroup.conf
node_modules
npm-debug.log
pids
public
results
ssl
yarn.lock

### VisualStudioCode ###
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
/queries/out1.csv
