#logged-out-home
  justify-content center
  height 100%
  width 100%
  margin-top -54px
  background rgb(39,110,142)
  background -moz-linear-gradient(45deg, rgba(39,110,142,1) 0%, rgba(38,107,142,1) 25%, rgba(76,154,177,1) 100%)
  background -webkit-linear-gradient(45deg, rgba(39,110,142,1) 0%,rgba(38,107,142,1) 25%,rgba(76,154,177,1) 100%)
  background linear-gradient(45deg, rgba(39,110,142,1) 0%,rgba(38,107,142,1) 25%,rgba(76,154,177,1) 100%)

  .app-title
    background-color inherit
    margin 0
    padding 0
    color #ffffff

    .display-2
      font-weight 700
      padding 0
      margin 0
      text-align right

    .lead
      font-size 1.7em

      .btn-signup
        border none
        border-radius 0
        margin-top 25px
        padding 20px 55px
        font-size 1.2em
        font-weight 700
        background #F28E02


#forum-home
  flex 1
  padding-bottom 60px

  .cover
    margin-bottom 30px
    padding 30px 0 40px
    width 100%
    color #fff
    text-align center
    background-size cover
    background-color #f9f9f9
    background-position center center

  .no-img
    color #444

  .cover-content
    margin 0 auto
    padding 0 10px
    max-width 790px

    h1
      margin-bottom .2em

  .topics-container
    display flex
    flex-wrap wrap
    justify-content center

  .no-topics
    text-align center
    p
      color #888

  .no-registration-message
    margin-top 20px
    margin-bottom 20px

  @import './topic-card/styles'
