.Demo__search-input,
.Demo__search-inputfocus,
.Demo__search-inputactive
  display block
  width 100%
  outline none

.autocomplete-container
  border 1px solid #e6e6e6

.suggestion-item
  padding 4px
  text-align left
  small
    color #999 !important
