- locals = locals || {}
#topics-wrapper
  .topics-admin
    .col-sm-12.topics-reports-container
      .row
        h1.topic-title=topic.mediaTitle
      .row
        .col-sm-2
          a.btn.btn-block(href=locals.url download='results.csv')
            span=t('admin-topics-form.button.report-raw')
    