#signup-form
  max-width 300px
  width 90%
  .accepting
    text-align center
    a
      display block
      font-size 13px
    p
      font-size 13px
      margin 0
  .signup-logo
    width 40px
#signup-message
  max-width 500px

@import '../components/date-picker/styles'
@import '../components/places-autocomplete/styles'
