#signup-form
  max-width 300px
  width 90%
  .accepting
    text-align center
    a
      display block
      font-size 13px
    p
      font-size 13px
      margin 0
  .signup-logo
    width 40px
#signup-message
  max-width 500px

#match-voter-label
  padding-left 5px

#match-voter-description
  font-size 13px
  color #1e1e1e

#checkbox-container
  background #eeeeee
  padding 15px


@import '../components/date-picker/styles'
@import '../components/places-autocomplete/styles'
@import '../../../node_modules/react-select/dist/react-select.css'

#signup-form .Select-control {
  border: 0;
}

#signup-form .Select-placeholder, 
#signup-form .Select-input,
#signup-form .Select-value {
  padding-left: 0;
  padding-right: 0;
}