body
  &.signin-page
    header
      &.app-header
        .user-nav
          a[href="/signin"]
            display none
          a[href="/signup"]
            display inline-block
    #content
      background url(/boot/city-background.png) no-repeat center top
      background-size cover
      background-color #cff

#signin-form
  // padding 12px
  .otter
    margin-top 58px
    img
      width 140px
      margin-left 70px
  .app-name
    img
      width 228px
      margin-left 26px
      margin-top 10px
      margin-bottom 58px
  form
    padding 12px
    background-color #efefef
    border-radius 4px
  .form-group
    overflow hidden
    .btn
      text-transform uppercase
      font-size 14px
    .forgot
      position absolute
      margin-top 33px
      right 8px
      a
        color #eba450
    .login-button
      background-color #eba450
    .create-account-button
      background-color #71c368
  .or
    width 100%
    text-align center
    text-transform uppercase
    color #cccccc
    font-size 12px
